# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage

# @thomathings/module-ui-css 
**/*.module.css
**/*.module.css.d.ts
**/*.css.js

# storybook
**/storybook-static

# production
**/dist

# misc
.DS_Store
**/.env*