.base {
  background-color: black;
  border: 1px solid black;

  &:hover {
    background-color: white;
  }

  &:focus {
    background-color: yellow;
  }
}

.text {
  color: white;

  &:hover {
    color: black;
  }
}

.byefrfre {
  color: white;
}