@import "../vars/colors.css";

.base {
  background-color: var(--myColor);
  border: 1px solid black;

  &:hover {
    background-color: white;
  }

  &:focus {
    background-color: var(--yellow);
  }
}

.text {
  color: white;

  &:hover {
    color: black;
  }
}

.byefrfre {
  color: white;
}